{% extends 'base.html' %}

{% block content %}
    <section class="py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="row gx-4 gx-lg-5 align-items-center">
                <div class="col-md-6">
                    <img class="card-img-top mb-5 mb-md-0" src="{{ product.image.url }}" />
                </div>

                <div class="col-md-6">
                    <h1 class="display-5 fw-bolder">{{ product.title }}</h1>

                    <div class="fs-5 mb-5">
                        <span>₽{{ product.price }}</span>
                    </div>

                    <p class="lead">{{ product.description }}</p>

                    <p class="lead">Характеристики товара:</p>

                    <table class="table">
                        <tbody>
                        {% for s in product.specifications.all %}
                        <tr>
                            <td>{{ s.title }}</td>
                            <td>{{ s.value }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    <div class="d-flex">
                        <input class="form-control text-center me-3"
                               id="inputQuantity"
                               type="num"
                               value="1"
                               style="max-width: 3rem" />

                        <a class="btn btn-outline-dark flex-shrink-0"
                           href="{% url 'add_to_cart' slug=product.slug %}">

                            <i class="bi-cart-fill me-1"></i>
                            Добавить в корзину
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Related items section-->
    <section class="py-5 bg-light">
        <div class="container px-4 px-lg-5 mt-5">
            <h2 class="fw-bolder mb-4">Вам также может быть интересно</h2>
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                {% for related_product in related_products %}
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="{{ related_product.image.url }}" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <a href="{{ related_product.get_absolute_url }}" class="list-group-item">
                                        <h5 class="fw-bolder">{{ related_product.title }}</h5>
                                    </a>
                                    <!-- Product price-->
                                    {{ related_product.price }}
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center">
                                    <a class="btn btn-outline-dark mt-auto" href="{% url 'add_to_cart' slug=related_product.slug %}">
                                        Добавить в корзину
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock content %}